@model IEnumerable<Registro.Models.empleado>

@{ ViewBag.Title = "PagoSemanal"; }

<h2>Información de pagos semanales</h2>
<br />

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Nombre completo
        </th>
        <th>
            Sueldo base
        </th>
        <th>
            Tipo de horario
        </th>
        <th>
            Horas normal trabajadas
        </th>
        <th>
            Horas extras trabajadas
        </th>
        <th>
            N° de semana
        </th>
        <th>
            Pago semanal
        </th>
    </tr>

 @foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        $@Html.DisplayFor(modelItem => item.sueldo)
    </td>
     <td>
        @Html.DisplayFor(modelItem => item.horarioEmpleado.horario.tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.horario.cantidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.horarioEmpleado.horaExtraTrabajadas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.horarioEmpleado.semanaMes)
    </td>
    <td>
        $@Html.DisplayFor(modelItem => item.pago)
    </td>
</tr>
    }

</table>