@model Registro.Models.horarioEmpleado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de horario de empleado</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes)
        </dd>

        <dt>
            Año:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>

        <dt>
            N° de semana del mes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semanaMes)
        </dd>

        <dt>
            Horas extras trabajadas:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaExtraTrabajadas)
        </dd>

        <dt>
            Nombre del empleado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre)
        </dd>

        <dt>
            Tipo de horario:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idHorarioEmpleado }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
</p>
